name: 'form_validation'
description: 'Validators that can be used directly via code or constructed from JSON to provide  dynamic validation.'
version: '2.1.0+11'
homepage: 'https://github.com/peiffer-innovations/form_validation'

environment: 
  sdk: '>=2.17.0 <3.0.0'

dependencies: 
  flutter: 
    sdk: 'flutter'
  intl: '^0.17.0'
  json_class: '^2.1.2+8'
  meta: '^1.7.0'
  static_translations: '^2.1.1+8'

dev_dependencies: 
  flutter_test: 
    sdk: 'flutter'


ignore_updates: 
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'term_glyph'
  - 'vector_math'
flutter: null
